In [1]:
def output():
    cursor.execute("SELECT * FROM BBQ")
    BBQ_read= cursor.fetchall()
    print("學生列表：")
    for BBQS in BBQ_read:
        print(BBQS)


import sqlite3 as sql

conn = sql.connect('BBQ')

cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS BBQ (
        id INTEGER PRIMARY KEY,
        name TEXT,
        price INTEGER,
        quantity INTEGER
    )''')

cursor.execute("INSERT INTO BBQ(name, price, quantity) VALUES('chicken', 30, 5)")
cursor.execute("INSERT INTO BBQ(name, price, quantity) VALUES('beaf', 55, 10)")
cursor.execute("INSERT INTO BBQ(name, price, quantity) VALUES('pork', 40, 15)")

conn.commit()

output()

cursor.execute("UPDATE BBQ SET price = 35 WHERE name = 'pork'")
cursor.execute("UPDATE BBQ SET quantity = 30 WHERE name = 'chicken'")

conn.commit()

output()

cursor.execute("DELETE FROM BBQ WHERE price = 40")

conn.commit()

output()

學生列表：
(1, 'chicken', 30, 5)
(2, 'beaf', 55, 10)
(3, 'pork', 40, 15)
學生列表：
(1, 'chicken', 30, 30)
(2, 'beaf', 55, 10)
(3, 'pork', 35, 15)
學生列表：
(1, 'chicken', 30, 30)
(2, 'beaf', 55, 10)
(3, 'pork', 35, 15)